*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/

Thumbs.db
Desktop.ini
.DS_Store

# Ignore static files:
# ComputationalLinguistics\ComputationalLinguistics\appsettings.json
# ComputationalLinguistics\ComputationalLinguistics\appsettings.Development.json